@import "partials/settings";
@import "partials/foundation";


$dark-color : #333333;
$light-color: white;

body {
  background: $light-color;
}

// body{
//   background-color: BlanchedAlmond;

// }
.nav_bar_container{
  margin: auto;
  padding: 10px 10px 10px 10px;
  display: inline-block;
}
.input_field_container{
  width: 70%;
  float: right;
}