@import "partials/settings";
@import "partials/foundation";


$dark-color : #333333;
$light-color: linen;

body {
  background: $light-color;
}

// body{
//   background-color: BlanchedAlmond;

// }

.input_field_container{
  display: inline-block;
  float: right;
}
.main-input-field{
  width: 70%;
}


.link_list_content{
  margin-top: 140px;
  min-height: 700px;
}

.left-off-canvas-menu{
  background-color: $dark-color;
  margins: 0px;
  padding: 0px;
}
.off-canvas-list li a{
  color: $dark-color;

}

.list-nav-bar-container{
  position: fixed;
  top: 0px;
  width: 100%;
}

.nav-top-row{
  height: 40px;
}

.link-house{
  margin-left: 50px;
  border-bottom: solid 1px black;
}