<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li class="back"><a ng-href="list">back</a></li>
        <li><label>tags</label></li>

          <li><a href="#">tag 1</a></li>
        </li>

      </ul>
    </aside>


    <div class="edit-link-container">
      <div class="nav">
        <div>
          <a href="#" class="button postfix left-off-canvas-toggle">menu</a>
        </div>
      </div>
      <div class="edit-link-body">
        <div class="edit-link-title-container">

        </div>
        <div class="edit-link-input-container">
          <textarea name="link-comment-input" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="edit-link-slider-container">
          <div class="range-slider round" data-slider>
            <span class="range-slider-handle" role="slider" tabindex="0"></span>
            <span class="range-slider-active-segment"></span>
            <input type="hidden">
          </div>
        </div>
      </div>



    </div>

  <a class="exit-off-canvas"></a>

  </div>
</div>