<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li class="back"><a ng-href="list">back</a></li>
        <li><label>tags</label></li>
        <li>
          <input id="tagInput" type="text" ng-model="tagInputValue" ng-keyup="saveTag($event)">
        </li>

          <li><a href="#">tag 1</a></li>
        </li>

      </ul>
    </aside>


    <div class="edit-link-container">
      <div class="nav">
        <div>
          <a href="#" class="button postfix left-off-canvas-toggle">menu</a>
        </div>
      </div>
      <div class="edit-link-body">
        <div class="edit-link-title-container">
          <p>{{link.title}}</p>
          <p>{{link.url}}</p>
        </div>
        <div class="edit-link-tags" ng-repeat="tag in link.tags">
          <span class="label">{{tag}}</span>

        </div>
        <div class="edit-link-comments" ng-repeat="comment in allComments">
          <div>
            <span class="comment-firstName">{{comment.firstName}}</span>
            <span class="comment-body">{{comment.body}}</span>
            <span class="comment-added">{{comment.created_at | amCalendar}}</span>

          </div>
        </div>
        <div class="edit-link-input-container">

          <input type="text" name="link-comment-input" ng-model="commentInput" ng-keyup="addComment($event)">

        </div>
        <div class="edit-link-slider-container">
          <div class="row">
            <div class="small-10 columns">
              <div class="range-slider round" id="slider" data-slider data-options="display_selector: #link-rating; ">
                <span class="range-slider-handle" role="slider" tabindex="0"></span>
                <span class="range-slider-active-segment"></span>
                <input type="hidden">
              </div>
            </div>
           <div class="small-2 columns" >
            <input type="number" id="link-rating" value="0" ng-model="link.rating" />
          </div>
        </div>
        </div>
      </div>



    </div>

  <a class="exit-off-canvas"></a>

  </div>
</div>