
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <!-- <a class="left-off-canvas-toggle" href="#" >Menu</a> -->


    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Foundation</label></li>
        <li class="has-submenu"><a href="#">TAGS</a>
            <ul class="left-submenu">
                <li class="back"><a href="#">back</a></li>
                <li><label>TAGS</label></li>
                <li><a href="#">tag 1</a></li>
            </ul>
        </li>
        <li class="has-submenu"><a href="#">HISTORY</a>
            <ul class="left-submenu">
                <li class="back"><a href="#">back</a></li>
                <li><label>HISTORY</label></li>
                <li><a href="#">history 1</a></li>
            </ul>
        </li>
         <li class="has-submenu"><a href="#">COMMENTS</a>
            <ul class="left-submenu">
                <li class="back"><a href="#">back</a></li>
                <li><label>COMMENTS</label></li>
                <li><a href="#">comment 1</a></li>
            </ul>
        </li>
        <li><a href="#">RATING</a></li>
        <li><a href="#">SETTINGS</a></li>
        <li><a href="#">ACCOUNT</a></li>

      </ul>
    </aside>

    <!-- main content goes here -->
    <div class="list-nav-bar-container">

      <div class="row nav-top-row">
        <div class="small-3 columns">
          <div>
              <a href="#" class="button postfix left-off-canvas-toggle">menu</a>
          </div>
        </div>
        <div class="small-9 columns">
          <div class="row">
            <div class="small-2 columns">
              <a href="#" class="button postfix" ng-click="addLink(url-input)">enter</a>
            </div>
            <div class="small-8 columns">
              <input type="text" placeholder="enter your url or search term here" id="url-input">
            </div>
            <div class="small-2 columns">
              <a href="#" class="button postfix">Go</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <span class="round radius label">tag1</span>
        </div>
      </div>

    </div>
    <div class="link_list_content">

      <div class="list-body-container" ng-repeat="link in allLinks.data">
        <div class="link-house">
          <div class="link-title">
          {{link.title}}
          </div>
          <div class="link">
            <a href="test">{{link.url}}</a>
          </div>
          <div class="link-info">
            <span>
              added:{{link.created_at}}
            </span>
              <span>
              lastVisited:{{link.last_visited_at}}
            </span>
            <span class="link-comments">
              comments
            </span>
            <span class="link-rating">
              rating
            </span>
            <span class="link-tag label">
              tag1
            </span>
          </div>
        </div>
      </div>

  <!-- close the off-canvas menu -->
  <a class="exit-off-canvas"></a>

  </div>
</div>