<div class="list_container">
  <div class="nav_bar_container">
    <button type="button" class="btn btn-default btn-lg menu_button">
    menu
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>
      <div class="input_field_container">
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default search_button" type="button">Enter</button>
            </span>
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default enter_button" type="button">Search</button>
           </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      <div></div>
        <input type="text" class="main_input_field" ng_model="mainInput">
        <div>{{mainInput}}</div>
    </div>
  </div>

</div>